@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  letter-spacing: 0.006rem;
}

html,
body,
button,
input,
select,
textarea {
  @extend %smooth-fonts !optional;
  -webkit-font-smoothing: antialiased;
}

#headline,
.no-smooth {
  -webkit-font-smoothing: auto !important;
}

.ReactModal__Overlay {
  transition: background-color 400ms ease-in-out;
  transition-timing-function: ease;
  background-color: rgba(210, 214, 216, 0) !important;
  backdrop-filter: blur(0px);
  position: 'fixed';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  inset: 0;
}

.ReactModal__Overlay--after-open {
  background-color: rgba(210, 214, 216, 0.25) !important;
  backdrop-filter: blur(1.5px);
  transition: all 400ms ease-in-out;
}

.ReactModal__Overlay--before-close {
  background-color: rgba(210, 214, 216, 0) !important;
  backdrop-filter: blur(0px);
  transition: all 400ms ease-in-out;
}

.ReactModal__Content:not(#contact-modal) {
  transform: translateY(100%);
  transition: transform 400ms ease-in-out;
  opacity: 1 !important;
  z-index: 1000;
  margin-left: 10%;
  margin-right: 10%;
  bottom: 0% !important;
  border: 1px solid #eaeaea !important;
  border-bottom: none !important;
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  padding: 0px !important;
  overflow: hidden !important;
}

.ReactModal__Content--after-open:not(#contact-modal) {
  transform: translateY(0);
  opacity: 1 !important;
}

.ReactModal__Content--before-close:not(#contact-modal) {
  transform: translateY(100%);
  opacity: 1 !important;
}

@media only screen and (max-width: '934px') {
  .ReactModal__Content:not(#contact-modal) {
    margin: 7% 0% 0% 0% !important;
    inset: 0px !important;
    width: 100%;
  }

  .ReactModal__Content--after-open {
    inset: 0px !important;

  }
}

.contact-overlay {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0) !important;
  backdrop-filter: blur(0px);
  transition: opacity 200ms ease-in-out;
}

#contact-modal {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 155px;
  text-align: center;
  margin: -15px 40px 0px auto !important;
  transition: none;
  padding: 2px 0px !important;
  opacity: 0;
  overflow: hidden !important;
  border-radius: 8px !important;
  border: 0px !important;
  background-color: rgba(246, 246, 250) !important;
}

#contact-modal.ReactModal__Content--after-open {
  transition: opacity 200ms ease-in-out;
  opacity: 1 !important;
}

#contact-modal.ReactModal__Content--before-close {
  transition: opacity 200ms ease-in-out;
  opacity: 0 !important;
}

@media only screen and (max-width: '934px') {
  #contact-modal {
    margin-right: 40px !important;
    margin-top: 5px !important;
  }
}

@media only screen and (max-width: '484px') {
  #contact-modal {
    margin-right: 15px !important;
    margin-top: 10px !important;
    background-color: rgba(246, 246, 250, 1) !important;
  }
}


.slideshow-container {
  animation: slideIn 600ms ease;
}

.splide__track {
  padding: 0px 40px !important;
}

@media only screen and (max-width: '484px') {
  .splide__track {
    padding: 0px 25px !important;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(70%);
  }

  100% {
    transform: translateX(0);
  }
}

.simplebar-track.simplebar-horizontal {
  display: none;
}

.simplebar-content {
  overflow-x: hidden;
}