@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://use.typekit.net/obm4uuk.css");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: 'Neue Haas Unica', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  letter-spacing: 0.006rem;
}

html,
body,
button,
input,
select,
textarea {
  @extend %smooth-fonts !optional;
}

.header {
  -webkit-font-smoothing: antialiased;
}

.ReactModal__Overlay {
  transition: background-color 100ms ease-in-out;
  transition-timing-function: ease;
  background-color: rgba(210, 214, 216, 0) !important;
  backdrop-filter: blur(0px);
}

.ReactModal__Overlay--after-open {
  background-color: rgba(210, 214, 216, 0.25) !important;
  backdrop-filter: blur(1.5px);
}

.ReactModal__Overlay--before-close {
  background-color: rgba(210, 214, 216, 0) !important;
  backdrop-filter: blur(0px);
}

.ReactModal__Content {
  transform: translateY(100%);
  transition: transform 400ms ease-in-out;
  transition-timing-function: ease;
  opacity: 1 !important;
  z-index: 1000;
  margin-left: 10%;
  margin-right: 10%;
  bottom: 0% !important;
  border: 1px solid #e0e0e0 !important;
  border-bottom: none !important;
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  padding: 40px !important;
}

.ReactModal__Content--after-open {
  transform: translateY(0);
  opacity: 1 !important;
}

.ReactModal__Content--before-close {
  transform: translateY(100%);
  opacity: 1 !important;
}

@media only screen and (max-width: '934px') {
  .ReactModal__Content {
    margin: 7% 0% 0% 0%;
    inset: 0px !important;
    width: 100%;
    padding: 20px !important;
  }
}